.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

webview/vue/.vscode/**
webview/vue/node_modules/**
webview/vue/out/**
webview/vue/public/**
webview/vue/src/**
webview/vue/.gitignore
webview/vue/package.json
webview/vue/package-lock.json
webview/vue/README.md
webview/vue/vite.config.ts
webview/vue/.env
webview/vue/.env.development
webview/vue/.env.production
webview/vue/tsconfig.json
webview/vue/uno.config.ts

